<p-menubar *ngIf="!isLoggedIn" [model]="items">
    <ng-template pTemplate="start">
        <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="40" class="mr-2">
    </ng-template>

    <ng-template pTemplate="end">
        <input type="text" pInputText placeholder="Search..." class="mr-2">&nbsp;
    </ng-template>
</p-menubar>

<p-menubar *ngIf="isLoggedIn" [model]="userItems">
    <ng-template pTemplate="start">
        <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="40" class="mr-2">
    </ng-template>

    <ng-template pTemplate="end">
        <input type="text" pInputText placeholder="Search..." class="mr-2">&nbsp;

        <p-button label="Sign out" icon="pi pi-power-off" routerLink="/auth/logout"></p-button>
    </ng-template>
</p-menubar>

